<%= render :partial => 'submenu' %>
<div class="form">
	<%= form_for(@menu,:url => (@menu.id ? cpanel_menu_url(@menu) : cpanel_menus_url)) do |f| %>
  <%= render "shared/error_messages", :target => @menu %>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr class="row">
			<td class="field">Name</td>
			<td><%= f.text_field :name, :class => "text short" %></td>
		</tr>
		<tr class="row">
			<td class="field">URL</td>
			<td><%= f.text_field :url, :class => "text long" %></td>
		</tr>
		<tr class="row">
			<td class="field">Sort</td>
			<td><%= f.text_field :sort, :class => "text short" %> <span class="tip">The first large</span></td>
		</tr>
		<tr class="row">
			<td class="field"></td>
			<td><%= f.check_box :new_window %> <%= f.label :new_window, "Open a new window" %></td>
		</tr>
		<tr class="buttons row">
			<td class="field"></td>
			<td><%= f.submit (@menu.id ? "Save" : "Create")%> Or <%= link_to 'Return', :action => "index" %></td>
		</tr>
	</table>
	<% end %>
</div>
