<ul class="archive">
<% cache("home/index/recent_posts") do %>
<% if !@recent_posts.blank?%>
  <% for item in @recent_posts %>
    <li>
      <a href="<%= blog_path(item.slug) %>" title="<%= item.title %>"><%= truncate(item.title, :length => 30) %></a> 
      <span class="date">Posted on <%= item.created_at.to_date %></span>

<div style="float:left;padding:4px;">
<script type="text/javascript">
tweetmeme_url = 'http://personallab.heroku.com<%= blog_path(item.slug) %>';
tweetmeme_source = 'Nick_Arm';
</script>
<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js">tweetcount_background = ‘FFFFFF’;</script>
</div>



    </li>
  <% end %>
<% end %>
<% end %>
</ul>

 <div id="tweet" class="section">
  <h2>Twitter</h2>
  <%= render "shared/tweets", :items => @tweets %>
</div>
