<ul class="archive">
<% cache("home/index/recent_posts") do %>
<% if !@recent_posts.blank?%>
  <% for item in @recent_posts %>
    <li>
<div>
      <a href="<%= blog_path(item.slug) %>" title="<%= item.title %>"><%= truncate(item.title, :length => 30) %></a> 
      <span class="date">Posted on <%= item.created_at.to_date %></span>
</div>
<div>
<a class="retweet" target="_blank" href="http://twitter.com/home/?status=RT @Nick_Arm <%= item.title %> : http://personallab.heroku.com<%= blog_path(item.slug) %>"><img src="/images/retweet.png"/></a>

<a href="http://www.facebook.com/sharer.php?u=http://personallab.heroku.com<%= blog_path(item.slug) %>&t=<%= item.title %>" target="blank"><img src="/images/fb-share.png"/></a>

</div>
</li>
  <% end %>
<% end %>
<% end %>
</ul>

 <div id="tweet" class="section">
  <h2>Twitter</h2>
  <%= render "shared/tweets", :items => @tweets %>
</div>
