<div id="left_side">
  <div class="box quick">
    <h3>Quick Links</h3>
    <ul>
      <li><%= link_to "Writing articles", :controller => "cpanel/posts", :action => "new" %></li>
      <li><%= link_to "Create a new page", :controller => "cpanel/pages", :action => "new" %></li>
      <li><%= link_to "Modify the system settings", :controller => "cpanel/settings", :action => "index" %></li>
    </ul>
  </div>
  <div class="box statistics">
      <h3>Statistics</h3>
      <ul>
          <li>There are <span class="num"><%= @total[:post_count] %></span> Articles blog posts</li>
          <li>In addition, there <span class="num"><%= @total[:page_count] %></span> Separate page</li>
      </ul>
  </div>
</div>
<div id="middle_side">
  <div class="box recent_posts">
    <h3>Recently published a blog</h3>
    <ul>
      <% for item in @recent_posts %>
      <li><a href="<%= blog_path(item.slug)%>"><%= item.title %></a> Released in <%= item.created_at_s  %></li>
      <% end %>
    </ul>
  </div>
</div>
