<%= render :partial => 'submenu' %>
<%= success_messages %>
<div id="pages">
	<% if !@pages.blank? %>
	<table class="grid" border="0" cellspacing="0" cellpadding="0">
		<tr class="head">
			<td	class="first id">ID</td>
			<td class="status">Status</td>
			<td class="title">Title</td>
			<td class="date">Updated</td>
			<td class="opt">Operating</td>
		</tr>
	  <% for item in @pages %>
	    <tr class="row">
	    	<td class="first id"><%= item.id %></td>
				<td class="status"><%=h item.status == 1 ? "Has been published" : "Draft" %></td>
				<td class="title"><%= link_to (truncate(h(item.title), :length => 40)), page_path(item.slug) %></td>
        <td class="date"><%= l item.updated_at, :format => :short %></td>
				<td class="opt">
					<%= link_to "Edit", edit_cpanel_page_url(item.id) %>
					<%= link_to 'Delete', cpanel_page_url(item.id),  :confirm => 'Are you sure?', :method => :delete  %>
				</td>
	    </tr>
	  <% end %>
	</table>
	<%= will_paginate @pages %>
	<% else %>
	<div class="none_result">
		Had not yet created the page,You can <%= link_to "Create", :controller => "pages", :action => "new" %> 一页.
	</div>
	<% end %>
	
</div>
